<cdk-virtual-scroll-viewport [itemSize]="4" class="viewport">
  <div style="padding-left: 5%;padding-top: 5%">
      <div class="card">
        <div *cdkVirtualFor="let product of products">
          <img src="{{product.image}}" style="width: 100%">
          <br>
          <h3>Product Name: {{product.title}}</h3>
          <br>
          <p class="price"> Product Price : {{product.price}}</p>
          <br>
          <p class="price"> Product Description : {{product.description}}</p>
          <br>
          <p class="price"> Product Category : {{product.category}}</p>
          <br>
          <p class="price"> Product Rating : {{product.rating.rate}}</p>
          <br>
          <a href="product/{{product.id}}"><button type="button">But Item</button></a>
        </div>
      </div>
    </div>
</cdk-virtual-scroll-viewport>
